<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="omel.polymogo.nazieh">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.EditExpensess"></activity>
        <activity android:name=".activities.EditProfit" />
        <activity android:name=".activities.Expenses" />
        <activity android:name=".activities.Profits" />
        <activity android:name=".activities.CustomerDetails" />
        <activity android:name=".activities.AddCustomers" />
        <activity android:name=".activities.Setting" />
        <activity android:name=".activities.Tresury" />
        <activity android:name=".activities.Customer" />
        <activity android:name=".activities.ChangePassword" />
        <activity android:name=".activities.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity" />
    </application>

</manifest>